@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

#content {
    background-color: #C7996B;
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    text-shadow:1px 0px 4px #333333;
}

nav a {
    text-align: center;
    color: #f5deb3;
    text-decoration: none;
    padding: 35px;
    text-shadow:1px 0px 4px #333333;
}

.logo {
    width: 80px;
}

#contact-img {
    width: 100%;
    height: 100%;
}

main section {
    text-align: center;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: #C7996B;
    height: 725px;
}
body {
    background-color: #fcfbfb;
    font-family: "IM Fell French Canon", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    font-family: "IM Fell French Canon", sans-serif;
    font-style: italic;
    background-color: #333333;
    display: grid;
    grid-template-columns: 150px auto;
}

#nav a:hover {
    background-color: #333333;
    color: #f5deb3;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}
.moveDown {
    margin-top: 3em;
}

.banner {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    color: black;
    background-color: #333333;
    padding: 25px 50px;
}

footer a {
    text-shadow:1px 0px 4px #333333;
    text-align: center;
    color: azure;
    text-decoration: none;
}

footer p {
    text-shadow:1px 0px 4px #333333;
    color: azure;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    width: 60px;   
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}