@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #0CFF03;
    --accent1-color: #2A7110;
    --accent2-color: #858382;
  
    --heading-font: "IM Fell French Canon";
    --paragraph-font: "IM Fell French Canon", Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #333333;
    font-family: "IM Fell French Canon", sans-serif;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 110px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: -90px;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    color: #0CFF03;
    text-decoration: none;
    padding: 35px;
    text-shadow:1px 0px 4px #858382;
}

nav a:hover {
    color: #858382;
    background-color: #000000;
}

nav a.active {
    background-color: #0CFF03;
    color: #000000;
}

.home-title {
    margin-top: 10px;
    font-family: "IM Fell French Canon", sans-serif;
    font-size: 1.8em;
    color: #fcfbfb;
    text-align: left;
}

.hero-content img {
    position: relative;
    width: 100vmax;
}

#hero {
    display: grid;
    grid-template-columns: 1fr;
}

#hero-message {
    z-index: 1;
    margin-top: -365px;
    text-align: left;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #0CFF03;
    text-shadow:1px 0px 4px #858382;
    width: 100%;
    margin-bottom: 4px;
}

.subtitle1 {
    text-align: left;
    margin-bottom: -30px;
}

.subtitle2 {
    text-align: left;
}

.subtitle3 {
    text-align: left;
}

#navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav-class {
    grid-column: 2/6;
    color: #0CFF03;
    text-shadow:1px 0px 4px #858382;
}

.ai-class {
    grid-column: 7/11;
    color: #0CFF03;
    text-shadow:1px 0px 4px #858382;
}

.solutions-grid {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
}

.solution-card {
    border: 10px solid #000000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2A7110;
    justify-content: space-between;
    width: 200px;
    height: 180px;
}

.solution-card:hover {
    opacity: .6;
    transform: scale(1.1);
}

.respond {
    margin-left: 20px;
    align-content: center;
}

.review {
    margin-left: 20px;
    align-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    color: #2A7110;
    background-color: #000000;
    padding: 25px 50px;
}

footer a {
    text-shadow:1px 0px 4px #858382;
    text-align: center;
    color: #0CFF03;
    text-decoration: none;
}

footer p {
    text-shadow:1px 0px 4px #858382;
    color: #0CFF03;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    width: 60px;   
    padding-top: 15px;
}

@media screen and (max-width: 600px) {
    #hero, .hero-content img {
        position: relative;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    #hero-message {
        flex-direction: column;
        font-size: 12px;
        color: #fcfbfb;
        text-shadow:1px 0px 4px #858382;
    }
    footer {
        margin-top: 25px;
    }
}