@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #0CFF03;
    --accent1-color: #2A7110;
    --accent2-color: #858382;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon";
    --paragraph-font: "IM Fell French Canon", Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #333333;
    font-family: "IM Fell French Canon", sans-serif;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 110px;
}

header {
    display: grid;
    grid-template-columns: 150px auto; 
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #0CFF03;
    text-decoration: none;
    padding: 35px;
    text-shadow:1px 0px 4px #858382;
}

nav a:hover {
    color: #858382;
    background-color: #000000;
}

.home-title {
    margin-top: 10px;
    font-family: "IM Fell French Canon", sans-serif;
    font-size: 2em;
    color: #fcfbfb;
    text-align: center;
}

#hero-content img {
    margin-top: 22px;
    width: 42vw;
}

#hero {
    display: flex;
    justify-content: space-between;
}

#hero-message {
    color: #0CFF03;
    text-shadow:1px 0px 4px #858382;
    max-width: 40vw;
    margin: 0;
    padding: 0 80px;
}

.home-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: -30px;
}

.subtitle1 {
    text-align: center;
    margin-bottom: -30px;
}

.subtitle2 {
    text-align: center;
}

.home-grid {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
}

.card-img {
    border: 10px solid #000000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2A7110;
    justify-content: space-between;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.approve-more {
    margin: 10px 0;
    align-content: center;
    margin-left: 30px;
}

.stable-system {
    margin: 10px 0;
    align-content: center;
}

.specialists {
    margin: 10px 0;
    align-content: center;
    margin-right: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    color: #2A7110;
    background-color: #000000;
    padding: 25px 50px;
}

footer a {
    text-shadow:1px 0px 4px #858382;
    text-align: center;
    color: #0CFF03;
    text-decoration: none;
}

footer p {
    text-shadow:1px 0px 4px #858382;
    color: #0CFF03;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    width: 60px;   
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .hero-content img {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    .hero-content {
        display: contents;
        width: auto;
        grid-template-columns: auto;
    }
    #hero-message {
        margin-top: 0;
    }
    #hero-message p {
        font-size: 25px;
        color: #2A7110;
    }
    #home-grid {
        align-items: stretch;
    }
    .approve-more, .stable-system, .specialists {
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}